.hero{
    @include display (flex,center,center,column,0);
    .saludo{
        background-color: nth($colors, 2);
        width: 100%;
        h1{
            color: nth($colors, 1);
            font-size: 2.5rem;
            &:hover{
                transform: scale(1.4);
            }
            @include display (flex,center,center,none, 5px);
        }
    }

}