.saludo{
    background-color: nth($colors, 3);
    width: 100%;
    h1{
        color: nth($colors, 1);
        font-size: 2.5rem;
        &:hover{
            transform: scale(1.4);
        }
        @include display (flex,center,center,none, 5px);
    }
}
.itemDetail{
    @include display (flex,center,center,row,0);
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.494);
    width: -webkit-fill-available;
    margin: 15px;
    padding: 15px 0px 0px;
    img{
        height: 500px;
    }
    div{
        .itemDescription{
            @include display (flex,center,start,column,0);
            padding: 0px 30px 30px;
            .iTitulo{
                font-size: 2rem;
                font-weight: 700;
            }
            .iDescription{
                font-size: 1.5rem;
                
            }
            .iCategory{
                font-size: 1.2rem;
                padding: 8px 0 0 0;
                font-style: italic;
            }
            .iPrecio{
                font-size: 2rem;
                padding: 15px 0 0 0;
                font-weight: 700;
            }
        }
        .divItemCount{
            @include display (flex,center,center,column,0);
            border-radius: 5px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            width: -webkit-fill-available;
            margin: 15px;
            padding: 15px 0px 0px;
            p{
                font-size: 1.5rem;
                padding: 15px 0px 10px;
                font-style: italic;
            }
        }
    }
}